@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nhóm CNPMNC
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0960 356 892
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sangnguyenps2@gmail.com">sangnguyenps2@gmail.com</a><br />
</address>